@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.bodycontainer {
    min-height: 100vh;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    padding-bottom: 30px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapperspacebtw {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.maintitle {
    margin: 20px 0;
    text-align: center;
    font-size: 30px;
    color: rgb(213, 242, 255);
    font-family: "Tektur", sans-serif;
}

.expshowwrapper {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 0 auto;
    padding: 10px 15px;
    background-color: rgb(0, 41, 70);
    border-radius: 5px;
    border-radius: 0;
}

.expshowhead {
    color: rgb(213, 242, 255);
    font-family: "Tomorrow", sans-serif;
}

.expshowval {
    color: white;
    font-family: consolas, monospace;
}

.monthlyinsighthead {
    margin: 20px 0 10px 20px;
    font-size: 20px;
    color: rgb(151, 222, 255);
    font-family: "TASA Explorer", sans-serif;
}

.monthlyinsightcard {
    background-color: rgb(0, 41, 70);
    width: 300px;
    font: 17px "Audiowide", cursive;
    border-radius: 5px;
    padding: 7px 12px;
    margin: 5px 20px;
}

.addexpbtn {
    padding: 0 20px;
    margin: 20px auto;
    height: 40px;
    background-color: rgb(9, 38, 50);
    border: 1px solid rgb(213, 242, 255);
    border-radius: 10px;
}

.btntext {
    font: 20px "Tomorrow", sans-serif;
    color: rgb(213, 242, 255);
}

.expensedesccontainer {
    width: 300px;
    padding: 20px;
    background-color: rgb(0, 28, 48);
}

.datepickerhead {
    font: 20px "Tomorrow", sans-serif;
    color: rgb(151, 222, 255);
}

.datepicker {
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(151, 222, 255);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font: 15px "Bungee Shade";
}

.expensedesc {
    margin: 30px 0 10px 0;
    width: 100%;
    padding: 5px;
    background-color: white;
    border: 0px;
    border-radius: 10px;
    font: 15px "TASA Explorer";
}

.categoryselect {
    margin-bottom: 10px;
    padding: 3px 0;
    font: 20px "TASA Explorer";
    border: none;
    border-radius: 10px;
    color: rgb(0, 77, 111)
}

.amount {
    font: 20px "Tomorrow", sans-serif;
    color: rgb(0, 82, 120);
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    width: 160px;
}

.warningtext {
    display: none;
    text-align: center;
    color: rgb(255, 0, 0);
    font: 14px "TASA Explorer";
    margin-bottom: 10px;
    font-weight: bold;
}

.addbtnwrapper {
    display: flex;
    justify-content: right;
}
.addbtn {
    margin-top: 10px;
    padding: 0 20px;
    height: 40px;
    background-color: rgb(0, 136, 195);
    border: 1px solid rgb(0, 51, 75);
    border-radius: 10px;
}

.addbtntext {
    font: 20px "TASA Explorer", sans-serif;
    color: rgb(0, 51, 75);
}

.explisthead {
    margin: 10px 10px 10px 20px;
    font: 20px "Tomorrow", sans-serif;
    color: rgb(151, 222, 255);
}

.expensedetailcard {
    background-color: rgb(0, 41, 70);
    width: 300px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.expdetailsdesc {
    font: 15px "TASA Explorer";
    color: rgb(255, 255, 255);
}

.expdetailscategory {
    margin-top: 7px;
    font: 15px "TASA Explorer";
    color: black;
    padding: 3px 10px;
    border-radius: 6px;
    background-color: rgb(87, 0, 0);
}

.deletebtn {
    position: relative;
    top: 5px;
    background-color: rgb(0,0,0,0);
    border: none;
}
.deleteimg {
    background-color: rgb(0, 0, 0, 0);
    width: 20px;
    height: 20px;
}

.confirmdeletewrapper {
    display: none;
    justify-content: center;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.canceldeletion {
    display: none;
    font: 17px "TASA Explorer", sans-serif;
    padding: 1px 3px;
    background-color: rgb(13, 123, 59);
    color: white;
    border: none;
    border-radius: 5px;
}

.confirmdeletetext {
    color: white;
    font: 17px "TASA Explorer", sans-serif;
    margin-right: 10px;
}

.confirmdeleteyes {
    font: 17px "TASA Explorer", sans-serif;
    padding: 1px 3px;
    background-color: rgb(182, 7, 7);
    color: white;
    border: none;
    border-radius: 5px;
}